.product_images {
  position: relative;
}

.products_image img {
  width: 264px;
  height: 220px;
}

.product_rotate-image {
  position: absolute;
  top: 124px;
  left: 144px;
  animation-name: rotate;
  animation-duration: 9000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.product_information-container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.product_information {
  display: flex;
  align-items: start;
}

.product_title {
  margin-right: 8px;
  font-family: "Eczar", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #023a6b;
}

.product_price {
  height: 19.5px;
  padding: 2px 6px;
  border-radius: 16px;
  background: #f73;
}

.product_price p {
  margin-top: 2px;
  font-family: "Eczar", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
}

.form_radio {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.form_radio input[type="radio"] {
  display: grid;
  place-content: center;
  width: 24px;
  height: 24px;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: orange;
  border: 3px solid #fff;
  border-radius: 24px;
  transition: 0.3s;
}

.form_radio input[type="radio"]:hover {
  scale: 1.1;
}

.form_radio input[type="radio"]:checked:hover {
  scale: 1;
}

input[type="radio"]::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em orange;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.label {
  margin-right: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #023a6b;
  text-transform: uppercase;
}

.checkbox {
  margin-top: 16px;
}

.label_container {
  padding: 4px 0 0 35px;
  display: block;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
  user-select: none;
}

.label_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  background-color: #fff;
}

.label_container:hover input ~ .checkmark {
  background-color: #fff;
}

.label_container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label_container input:checked ~ .checkmark:after {
  display: block;
}

.label_container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.actions_container {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.action_button {
  position: relative;
  width: 149px;
  padding: 14px 24px;
  border-radius: 64px;
  border: 2px solid #ffbd5c;
  background: transparent;
  color: #023a6b;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.action_button:hover {
  background: #ffbd5c;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addProducts_container {
  display: flex;
  border-radius: 64px;
  background-color: #ffbd5c;
}

.button {
  width: 52px;
  height: 48px;
  border-radius: 24px;
  border: none;
  background-color: #ffbd5c;
  transition: 0.3s;
  font-size: 28px;
  color: #023a6b;
}

.input {
  width: 41px;
  text-align: center;
  background: transparent;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #023a6b;
}

.hidden {
  display: none;
}

.input:focus {
  border: none;
  outline: none;
}

.button:hover {
  background-color: #ff7733;
  color: #fff;
}

.action_information {
  cursor: pointer;
  transition: 0.3s;
}

.action_information img {
  width: 20px;
  height: 20px;
}

.action_information:hover {
  scale: 1.2;
}
