<header class="header">
  <div class="header_container">
    <div class="logo_container">
      <a [routerLink]="['']">
        <img class="logo" src="./assets/icons/logo.svg" alt="logo" />
      </a>
    </div>
    <div *ngIf="!counter" class="cart_container" [routerLink]="['/cart']">
      <div>
        <img class="cart_image" src="./assets/icons/cart.svg" alt="cart" />
      </div>
      <span> Shopping Cart </span>
    </div>
    <div *ngIf="counter > 0" class="cart_container" [routerLink]="['/cart']">
      <div class="full_cart">
        <img class="cart_image" src="./assets/icons/full-cart.svg" alt="cart" />
        <p class="counter">
          {{ counter }}
        </p>
      </div>
      <span> Shopping Cart </span>
    </div>
  </div>
</header>
