.header {
  height: 96px;
  padding: 24px 32px;
  box-sizing: border-box;
  background: #fff;

  .header_container {
    display: flex;
    justify-content: space-between;

    .logo_container {
      .logo {
        width: 232px;
        height: 48px;
      }
    }

    .cart_container {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .cart_image {
        width: 40px;
        height: 40px;
      }

      span {
        width: 85px;
        margin-left: 16px;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
        color: #023a6b;
        transition: 0.3s;
        &:hover {
          color: #f73;
        }
      }

      .full_cart {
        position: relative;

        .counter {
          position: absolute;
          top: 17px;
          left: 0;
          right: 0;
          color: #fff;
          text-align: center;
          font-family: "Recoleta", sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 900;
          line-height: 100%;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}
